name: Deploy PHP to Somee

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: FTP Deploy
      # Đã thêm chữ 'v' vào phiên bản dưới đây
      uses: SamKirkland/FTP-Deploy-Action@v4.3.5
      with:
        server: ${{ secrets.FTP_SERVER }}
        username: ${{ secrets.FTP_USERNAME }}
        password: ${{ secrets.FTP_PASSWORD }}
        server-dir: /www.nmhoss.somee.com/
        local-dir: ./
        exclude: |
          **/.git*
          **/.git*/**
          **/.github/**
          **/README.md