name: Deploy PHP to Somee

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: FTP Deploy
      uses: SamKirkland/FTP-Deploy-Action@4.3.5
      with:
        server: ${{ secrets.FTP_SERVER }}
        username: ${{ secrets.FTP_USERNAME }}
        password: ${{ secrets.FTP_PASSWORD }}
        
        # QUAN TRỌNG: Trỏ đúng vào thư mục tên miền của bạn trên Somee
        server-dir: /www.nmhoss.somee.com/
        
        # Lấy toàn bộ code ở thư mục hiện tại
        local-dir: ./
        
        # Bỏ qua các file không cần thiết
        exclude: |
          **/.git*
          **/.git*/**
          **/.github/**
          **/README.md